body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6727ce44;
}
.calculadora {
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: #302e2e5e;
}
#resultado {
    width: 97%;
    height: 45px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;
}
.button {
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
}
.button:hover {
    background-color: #ecf007;
}
.button.operator {
    background-color: #f9a825;
    color: #fff;
}
.button.operator:hover {
    background-color: #f57f17;
}
.button.equal {
    background-color: #43a047;
    color: #fff;
}
.button.equal:hover {
    background-color: #388e3c;
}